<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Galerija slika</title>
	<link rel="stylesheet" href="/style/style_slike.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css">
</head>
<body>
    <header>
        <h1>Galerija slika</h1>
    </header>

    <nav class="nav-menu" aria-labelledby="nav-menu">
        <ul class="nav-menu-items">
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Navigacija</a>
              <div class="dropdown-content">
                <a href="/index.html">Početna</a>
                <a href="/grafikon.html">Grafikon</a>
                <a href="#">Galerija</a>
              </div>
            </li>
        </ul>
    </nav>

    <section class="galerija">
    <div class="galerija_container">
        <% images.forEach((image, index) => { %>
            <figure class="galerija_slika">
              <a href="#slika-<%= index %>">
                <img src="<%= image.url %>" alt="<%= image.title %>" loading="lazy">
              </a>
              <figcaption><%= image.title %></figcaption>
            </figure>
          
            
            <div id="slika-<%= index %>" class="lightbox-overlay">
              <a href="#" class="close-lightbox">&times;</a>
              <img src="<%= image.url %>" alt="<%= image.title %>">
              <p class="lightbox-caption"><%= image.title %></p>
            </div>
          <% }); %>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
</body>
</html>

